

header {
    background-color: white;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    height: 80px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Petemoss', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    overflow:hidden;
    background-color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Petemoss', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black; 
    text-align: center;
    padding: 14px 16px;
}

.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 18px; 
    border: none;
    outline: none;
    color: black;
    padding: 14px 50px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
    font-weight: bold;
  }

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:darksalmon;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding-right: 50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
 
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


header * {
    display: inline-block;
}

header h2 span {
    font-size: 17px;
    margin-left: 25px;
}

header img {
    height: 60px;
    width: 60px;
    display:inline-block;
}
header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 0px;
}

body {
    height: 125vh;
    background-image: url(https://images.unsplash.com/photo-1635961481461-cfcee0a5f4e6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

.introduction {
    background-color:darksalmon;
    border: 20px solid papayawhip;
    width: 75%;
    height: 350px;
    padding: 20px;
    display: inline-block;
    box-shadow: 50 50 50 50 black;
    text-align: center;
    margin-left: 110px;
    line-height: 15px;
}

.introduction img {
    display: inline-block;
    height: 200px;
    width: auto;
    line-height: -10px;
    border: solid 2px black;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    background-color:whitesmoke;
    width: 90%;
    height: fit-content;
    padding: 20px;
    display: inline-block;
    box-shadow: 50 50 50 50 black;
    text-align: center;
}


.span_underline {
    teXt-decoration: underline;
}

body.image {
    border-radius: 3px solid black ;
}

.imagesource{
    font-size: xx-small;
    color:darkgrey;
}

.inline_list {
    list-style-position: inside;
}
.inline img {
    border: 10px solid black;
}

.inlineblock img {
    border: 10px solid black;
    }
